<p id="notice"><%= notice %></p>

<p>
  <strong>Column1:</strong>
  <%= @thing.column1 %>
</p>

<p>
  <strong>Column2:</strong>
  <%= @thing.column2 %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
